<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- form start -->
                <form [formGroup]="weatherCheckForm">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-10">
                                    <h3 class="card-title">Check Weather</h3>
                                </div>
                                <!-- <div class="col-sm-1">
                                    <button class="btn btn-success   btn-block" style="text-shadow: 3em #000;" type="submit"><i class="fa fa-save"></i>&nbsp; Save</button>
                                </div> -->
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="form-group">
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>District</label>
                                        <span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control" id="districtLoad" name="districtLoad" [(ngModel)]="districtLoad">
                                            <option *ngFor="let a of distList" [value]="a.id">{{a.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>No of Member</label>
                                        <span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" placeholder="Number of Member" name="noOfMember" #noOfMember="ngModel" [(ngModel)]="masterService.bcdsFormData.noOfMember" required [class.invalid]="noOfMember.invalid && noOfMember.touched" [pattern]="numberPattern">
                                        <div class="invalid-feedback" *ngIf="noOfMember.errors?.pattern">Only numeric value</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>BCDS Address</label>
                                        <span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <textarea class="form-control" maxlength="500" placeholder="Address" name="bcdsAddress" #bcdsAddress="ngModel" [(ngModel)]="masterService.bcdsFormData.bcdsAddress" required [class.invalid]="bcdsAddress.invalid && bcdsAddress.touched"></textarea>
                                    </div>
                                </div>
                            </div> -->

                            <div class="form-group">
                                <table class="table  table-bordered">
                                    <!-- <thead style="background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #28b9da), color-stop(1, #f9fafc));">
                                        <tr class="HeaderRow">
                                            <td>BCDS Name</td>
                                            <td>Address</td>
                                            <td>No of Member</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let bcds of bcdsInfo | paginate: config | filter: searchText ">
                                            <td>
                                                {{bcds.bcdsName}}
                                            </td>
                                            <td>
                                                {{bcds.bcdsAddress}}
                                            </td>
                                            <td>
                                                {{bcds.noOfMember}}
                                            </td>
                                            <td>
                                                <button class="btn btn-info  btn-block" type="button" (click)="populateForm(bcds)"><i class="fa fa-pen"></i>&nbsp; Edit</button>
                                            </td>
                                        </tr>
                                    </tbody> -->
                                </table>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </form>
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.container-fluid -->
</section>