<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- form start -->
                <form [formGroup]="weatherCheckForm">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-10">
                                    <h3 class="card-title">Check Weather</h3>
                                </div>
                                <!-- <div class="col-sm-1">
                                    <button class="btn btn-success   btn-block" style="text-shadow: 3em #000;" type="submit"><i class="fa fa-save"></i>&nbsp; Save</button>
                                </div> -->
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="form-group">
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success   btn-block" style="text-shadow: 3em #000;" (click)="getCoolestDistricts()"><i class="fa fa-save"></i>&nbsp; Get Coolest Districts Data</button>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <table class="table  table-bordered">
                                    <thead style="background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #28b9da), color-stop(1, #f9fafc));">
                                        <tr class="HeaderRow">
                                            <td>District Name</td>
                                            <td>Avg Temperature</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let d of coolestDistList">
                                            <td>
                                                {{d.distName}}
                                            </td>
                                            <td>
                                                {{d.avgTemp | number}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <br>
                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-1">
                                        <label>From District</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" id="fromDistrict" formControlName="fromDistrict">
                                            <option *ngFor="let a of distList" [value]="a.id">{{a.name}}</option>
                                        </select>
                                    </div>

                                    <div class="col-md-1">
                                        <label>To District</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" id="toDistrict" formControlName="toDistrict">
                                            <option *ngFor="let a of distList" [value]="a.id">{{a.name}}</option>
                                        </select>
                                    </div>


                                    <div class="col-md-1">
                                        <label>Travel Date</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control" type="date" id="travelDate" formControlName="travelDate">
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-success btn-block" style="text-shadow: 3em #000;" (click)="getTravelComparison()"><i class="fa fa-save"></i>&nbsp; Compare Travel</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- /.card -->
                    </div>
                </form>
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.container-fluid -->
</section>